@import url("@/theme.css");

.root {
  background-color: transparent;
  padding: 8px;
  border-radius: 4px;
}

.dark {
  border: 1px solid var(--dark-border);
  color: var(--dark-foreground);
}

.light {
  border: 1px solid var(--light-border);
  color: var(--light-foreground);
}
