@import url("@/theme.css");

.root {
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  display: inline-flex;
  place-items: center;
  height: 2.25rem;
  width: fit-content;
}

.root:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.dark {
  border: 1px solid var(--dark-border);
  color: var(--dark-foreground);
}

.light {
  border: 1px solid var(--light-border);
  color: var(--light-foreground);
}

.dark:hover:not(:disabled) {
  background-color: var(--dark-border);
}
.light:hover:not(:disabled) {
  background-color: var(--light-border);
}
.root:active:not(:disabled) {
  filter: brightness(85%);
}
