:root {
  --light-background: #fafafa;
  --light-foreground: #6e6e6e;
  --dark-background: #171717;
  --dark-foreground: #c2c2c2;
  --dark-foreground-active: #fafafa;
  --placeholder: #77777c;
  --light-border: #d0d0d0;
  --dark-border: #27272a;
}
