@import url("@/theme.css");

.root {
  background-color: var(--light-background);
  color: var(--light-foreground);
  min-height: 30%;
  padding: 1.5rem;
}

.search {
  display: none;
}

@media (min-width: 768px) {
  .root {
    height: 100%;
    width: 60%;
    order: 1;
  }

  .search {
    display: block;
  }
}
